# Keystore Configuration for Release Builds
# Copy this file to keystore.properties and fill in your values
# DO NOT commit keystore.properties to version control!

storeFile=../q8basket-release-key.jks
storePassword=asdf1234basket
keyAlias=q8basket
keyPassword=asdf1234basket

