<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
        <string>Q8Basket</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Q8Basket needs camera access to take photos of products.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Q8Basket needs access to your photo library to let you choose or save product images.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Q8Basket needs permission to save photos to your library.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Q8Basket uses your location to show nearby stores and delivery options.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Q8Basket needs microphone access when recording video for product photos.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.q8basket.marketplace</string>
			</array>
			<key>CFBundleURLName</key>
			<string>OAuth callback</string>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.948766176517-i82ogsealg1i1ugsddi51vpflnc5d9vf</string>
				<string>com.googleusercontent.apps.948766176517-492o4lmbpm49brcnbenfeegnccmb6v9o</string>
				<string>com.googleusercontent.apps.948766176517-cg6a06l9u1i161uiiabocrj8538vp3tr</string>
			</array>
		</dict>
	</array>
</dict>
</plist>